body {
  background: url(https://moodle.royalholloway.ac.uk/theme/image.php/lambda/theme/1578396663/page_bg/cream_pixels) repeat fixed 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 80px;
}